# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/backup
# dependencies
/node_modules
package-lock.json
# production
/build
.vercel
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
