
  /* big landscape tablets, laptops, and desktops */

.sc img {
  height: calc(60vh - 100px);
  margin :0 auto;
  left: auto;

  /* it centers any block level element */
}

html.has-scroll-smooth {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.slides {
  position: relative;
  .slick-prev, .slick-next {
    position: absolute;
    top: 60%;
  }
  .slick-prev {
    left: 0%;
  }
  .slick-next {
    right: 0%;
  }
}


