/* Smaller than standard 960 (devices and browsers) */ 

.slider img{ width: 100%;     height: 85vh ; object-fit: cover;}
.slick-slide {
   height:80vh;
   position:relative;
}

.slick-slide img {
   height:80vh;
   
}
.sc img {
  height: calc(50vh - 100px);
  width: auto;
  margin: 0 auto; /* it centers any block level element */
}
