
.sc h3{

}
.prev-slick{
  size: 30em;
}
.next-slick{
size: 30em;

}
video{
  margin:auto ;
}
html.has-scroll-smooth {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.slides {
  position: relative;
  .slick-prev, .slick-next {
    position: absolute;
    top: 60%;
  }

}

.style-table{
    margin: 0 auto;

}

img,video{
   border-radius: calc(400 / 2)em;
   border: 0.45dvh solid #0BA ; 
}
.nav-icon{
     border-style: none ;

}
li{display: block;}

