
.prev-slick{
  size: 60em;
    background-color: #07c;

  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  outline: none;
  padding:  .65em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
.next-slick{
size: 60em;
  background-color: #07c;

  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  outline: none;
  padding:  .65em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


}

.prev-slick:hover,
.prev-slick:focus {
  background-color: #07c;
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);

}


.prev-slick:active {
  background-color: #0064bd;
  box-shadow: none;
}
.next-slick:hover,
.next-slick:focus {
  background-color: #07c;
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);

}


.next-slick:active {
  background-color: #0064bd;
  box-shadow: none;
}

html.has-scroll-smooth {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.slides {
  position: relative;
  .slick-prev, .slick-next {
    position: absolute;
    top: 60%;
  }

}

.style-table{
    margin: 0 auto;

}

.projects img,video{
   border-radius: calc(400 / 2)em;
   border: 0.45dvh solid #0BA ; 
}
.accredidations img,video{
   border-radius: calc(400 / 2)em;
   border: 0.45dvh solid #0BA ; 

}
.resume img,video{
   border-radius: calc(400 / 2)em;
   border: 0.45dvh solid #0BA ; 

}
.nav-icon{
     border-style: none ;

}
li{display: block;}

