/* Smaller than standard 960 (devices and browsers) */ 

.slider-container{
display: inline-block;
  margin: 0 auto;
  padding: 70px;
  width: 70%;

  
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height:  250px !important;    /* Set slide height here */
  max-width: 200px !important;
    width: 85% !important;
}
