/* Smaller than standard 960 (devices and browsers) */ 

.slider img{ width: 100%;     height: 100vh ;}



.sc img {
  height: calc(65vh - 100px);
  width: auto;
  margin: 0 auto; /* it centers any block level element */
}
.slick-slide{
  /* ... */   height:80vh;
  position: relative;
  z-index:100;
}

h2 {
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 color: white;
 font-size: 46px;
 -webkit-transition: all 300ms ease;
 transition: all 300ms ease;
 text-transform: uppercase;
}
