.hlight {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, green 65%);
 display: inline;
 color: cornsilk;
 
}
.hlight-mini {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, green 65%);
 display: inline;
 color: cornsilk;
 font-size: 0.95em;
 font-weight: 2em;
}

.projectdesc{
  /* FOR SCALING ENTIRE PAGE BODY */
  color:white;
font-size: 1.05em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-weight: 350;
    color: white;
text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
h4{
  /* FOR SPECIFICALLY H4 PROJECT DESCRIPTIONS, TITLES EXCLUDED */
font-size: 0.76em;
}
img{
overflow: 'hidden';
loading : "lazy";
}
fieldset {
  margin: 0.1svh;
  border: 5px solid #666;
  border-radius: 8px;
  box-shadow: 0 0 10px #666;
}
legend {
  padding: 2px 4px;
  background: #fff;
  /* For better legibility against the box-shadow */
}
fieldset > legend {
  float: left;
  margin-top: -20px;
}
fieldset > legend + * {
  clear: both;
}
