.hlight {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, green 65%);
 display: inline;
 color: cornsilk;
}

.safe_text{
 font-family: Arial ;

}
.projectdesc{
  color:white;
}
h5{

}
img{
loading : "lazy";
}
