/* Shared styles for .hlight and .hlight-mini */
/* Shared styles for .hlight and .hlight-mini */
.hlight,
.hlight-mini {
  color: rgba(245, 245, 220, 1);
  /* Smoother text color */
  text-shadow:
    1px 1px 0 rgba(0, 128, 0, 0.5),
    /* Green outline with shadow effect */
    -1px 1px 0 rgba(0, 128, 0, 0.5),
    1px -1px 0 rgba(0, 128, 0, 0.5),
    -1px -1px 0 rgba(0, 128, 0, 0.5);
  -webkit-text-stroke: 1px rgba(0, 128, 0, 0.5);
  /* Green outline */
  display: inline;
  background: none;
  /* Remove background */
}

/* Common styles for h4 and h3 */
h4,
h3 {
  text-shadow: 2px 2px 3px rgba(0.8, 0.8, 0.8, 0.9);
  font-size: 0.98em;
}


.intro {
  margin-top: 0.3em;
  color: #F3ECEC;
  /* Lighter color for better contrast against purple */
  /* Use rem units for your font sizes */
  text-align: center;
  display: inline;
  align-items: center;
  text-shadow: gold 3px 3px 5px;
  /* Dark text shadow for contrast */
  /* Adjusted text-shadow for better readability */
}

.intro h2,
h3 {
  font-size: 1.0rem;
  font-kerning: normal;
  max-width: 95svw;
  margin: 0 auto;
  justify-content: center;
}

/* Styling for fieldset and legend */
fieldset {}

.legend {
  /* For better legibility against the box-shadow */
  text-shadow: 2px 3px 5px rgba(0.8, 0.8, 0.8, 0.8);

}
