
.showFooter {
    background-color:olive;  
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    position: absolute;
    margin-top: auto;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    overflow: hidden;
    opacity: 1;
}

.hideFooter {
    opacity: 0;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    position: absolute;
    margin-top: auto;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    overflow: hidden;
}

.footercode {
    color: lawngreen
}
