special {
 font-family: "special";
 font-size: large;
 color: white;

}

#wrap {
 min-height: 100%;
}

#main {
 overflow: auto;
 padding-bottom: 180px;
 /* must be same height as the footer */
}


.resume {
 display: grid;
 align-content: center;
}

/* unvisited link */
a:link {
 color: beige;
}

/* visited link */
a:visited {
 color: tan;
}

/* mouse over link */
a:hover {
 color: hotpink;
}

/* selected link */
a:active {
 color: blue;
}

body:before {
 content: "";
 height: 100%;
 float: left;
 width: 0;
 margin-top: -32767px;
}


@media(prefers-reduced-motion) {
 .hidden {
  transition: none;
 }
}




.banner {
 background: repeating-linear-gradient(60deg, darkkhaki, darkolivegreen);
}

  /* PHONE */
@media all and (max-device-width:320px) {
#name{
 text-align: center;
 font-weight: bold;
 color: seagreen;
text-shadow: 5px 5px 7px rgba(0,0,0,0.5);
    font-size: 1.6em;
}
}

@media not all and (max-device-width:320px){
#name{
 text-align: center;
 font-weight: bold;
 color: seagreen;
text-shadow: 5px 5px 7px rgba(0,0,0,0.5);
    font-size: 2.5em;
}
}




.ribbon-highlight {
 position: relative;
 margin: 0.1em;
}

.section {
 display: grid;
 place-items: center;
 align-content: center;
 min-height: 100vh;
}

.ribbon-highlight:before {
 z-index: -1;
 left: -0.5em;
 top: 0.1em;
 border-width: 0.5em;
 border-style: solid;
 border-color: lightgreen;
 position: absolute;
 width: 100%;
 border-left-color: transparent;
 border-right-color: transparent;
}

.circle-sketch-highlight {
 position: relative;
}
.name{
  font-size: 20px;
}
