/* Link styles */
a:link {
  color: #cbf078;
}

a:visited {
  color: #f1b963;
}


@keyframes linesIn {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}


@keyframes slideIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

a:hover {
  color: hotpink;
}

.custom-navbar-toggler {
  border: none;
  background: transparent;
  color:white;
  outline: none;
}

#line1, #line2, #line3 {
  animation: none;

  width: 2vw;
  height: 0.15vw;
  background-color: #fff; /* Change to your desired color */
  margin: 0.65vw 0.5vw;
}

@keyframes rotateIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5px, -6px);
  }
}

#line3.line-open {
  animation: rotateIn 0.4s forwards;
}

#line1.line-open {
  animation: rotateOut 0.4s forwards;
}

#line3.line-close {
  animation: rotateIn 0.4s reverse forwards;
}

#line1.line-close {
  animation: rotateOut 0.4s reverse forwards;
}

@keyframes rotateOut {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5px, 6px);
  }
}


#line2.line-open{
  animation: fadeOut 0.4s forwards;
}

#line2.line-close {
  animation: fadeIn 0.4s forwards;
}


.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 100%; /* Add this line */

}

.custom-navbar {
  display: flex;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.05);
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0;
  /* Position at the top */
  animation: slideIn 0.5s cubic-bezier(.24,.51,.8,.94) both;
  z-index: 1000;
  max-width: 100%;
  /* Ensure the navbar is above other elements */
  border-radius: 8vw;
}
@media (max-width: 600px) {
  .navBrand {
    font-size: 0.1em; /* Reduce the font size */
    max-width: 65%;
  }
  
  .custom-navbar{
    max-width: 78%; /* Reduce the max-width */

  }
  #line1, #line2, #line3 {
    animation: none;
  
    width: 8vw;
    height: 1vw;
    background-color: #fff; /* Change to your desired color */
    margin: 1.8vw 0vw;
  }
}
.navBrand {
  background: linear-gradient(to right, lightgreen, lightblue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* green with 0.8 opacity */

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:active {
  color: blue;
}





.nav-item {
  color: rgba(0, 128, 0, 0.8);
  /* green with 0.8 opacity */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* text shadow */
  border-width: 1vw;
}

/* Styles for .banner */
.banner {
  transform: perspective(500);
  border-radius: 4vw;
}

/* Styles for #name */
#name {
  text-align: center;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(202, 202, 14, 1);
  text-shadow: 5px 5px 5px rgba(1, 1, 1, 0.2);
  font-size:x-large;
}



/* Styles for .ribbon-highlight */
.ribbon-highlight {
  position: relative;
  margin: 0.1em;
}

.ribbon-highlight:before {
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  border-width: 1em;
  border-style: solid;
  border-color: lightgreen;
  position: absolute;
  width: 100%;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* Styles for .circle-sketch-highlight */
.circle-sketch-highlight {
  position: relative;
}

.nav-icon {
  border-image-source: url('../../public/fast_imgs/border.png');
  border-image-width: 6svh;
}

.intro {
  margin-top: 0.3em;
  color: #F3ECEC;
  /* Lighter color for better contrast against purple */
  font-size: 1.0rem;
  /* Use rem units for your font sizes */
  border-width: 400/2;
  text-shadow: gold 3px 3px 5px;
  /* Dark text shadow for contrast */
  /* Adjusted text-shadow for better readability */
}