/* Link styles */
a:link {
  color: #cbf078;
}

a:visited {
  color: #f1b963;
}


.collapse-container{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
}

@keyframes linesIn {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}


@keyframes slideIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

a:hover {
  color: hotpink;
}

.custom-navbar-toggler {
  border: none;
  background: transparent;
  color: white;
  position: relative;
  outline: none;
}



@keyframes rotateIn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-5px, -6px);
  }
}

#line3.line-open {
  animation: rotateIn 0.4s forwards;
}

#line1.line-open {
  animation: rotateOut 0.4s forwards;
}

#line3.line-close {
  animation: rotateIn 0.4s reverse forwards;
}

#line1.line-close {
  animation: rotateOut 0.4s reverse forwards;
}

@keyframes rotateOut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-5px, 6px);
  }
}


#line2.line-open {
  animation: fadeOut 0.4s forwards;
}

#line2.line-close {
  animation: fadeIn 0.4s forwards;
}


.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Add this line */

}

.custom-navbar {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 4vw;
  align-content: center;
  justify-content:center;
  top: 0;
  /* Position at the top */
  animation: slideIn 0.4s cubic-bezier(.24, .51, .8, .94) both;
  z-index: 1000;
  /* Ensure the navbar is above other elements */
  width: min-content !important;
}

.clickIcon {
  transform: rotate(270deg);
}




  .navBrand {
    font-size: 1.4em;
    /* Reduce the font size */
   max-width: 38svw;
   
  }


/* Base line styles */
.line {
  height: 5px; /* 0.5% of the viewport height */
  background-color: #fff; /* White color */
  margin: 14px 0px; /* Space between lines using viewport height */
  transition: all 0.7s cubic-bezier(.17,.67,.83,.67); /* Smooth transition */
  min-width: 60px;
}
/* Open state styles */
.line-open {
  transform-origin: center; /* Set a common rotation point */
}

/* Close state styles */
.line-close {
  transform: none;
}

/* Optional adjustments if you want to animate */
.line-open #line1 {
  transform: rotate(45deg) translate(5px, 5px); /* Example animation for top line */
}

.line-open #line3 {
  transform: rotate(-45deg) translate(5px, -5px); /* Example animation for bottom line */
}

.line-open #line2 {
  opacity: 0; /* Hide the middle line on open */
}

.line-close #line1,
.line-close #line2,
.line-close #line3 {
  transform: none; /* Reset transforms in close state */
  opacity: 1; /* Make sure lines are visible */
}

.navBrand {
  background: linear-gradient(to top, salmon, lightgreen, lightblue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* green with 0.8 opacity */
  text-shadow: 5px 5px 5px rgba(1, 1, 1, 0.2);
  text-align: center;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:active {
  color: blue;
}





/* Styles for .banner */
.banner {
  transform: perspective(500);
}





/* Styles for .circle-sketch-highlight */
.circle-sketch-highlight {
  position: relative;
}


