/* Link styles */
a:link {
  color: #cbf078;
}

a:visited {
  color: #f1b963;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

/* Styles for .banner */
.banner {
  transform: perspective(500);
  background-image: linear-gradient(60deg, #717D7E, #19814C);
}

/* Styles for #name */
#name {
  text-align: center;
  font-weight: bold;
  color: yellowgreen;
  text-shadow: 5px 5px 7px rgba(0.5, 0.5, 0.5, 0.5);
}

/* Styles for .ribbon-highlight */
.ribbon-highlight {
  position: relative;
  margin: 0.1em;
}

.ribbon-highlight:before {
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  border-width: 0.5em;
  border-style: solid;
  border-color: lightgreen;
  position: absolute;
  width: 100%;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* Styles for .circle-sketch-highlight */
.circle-sketch-highlight {
  position: relative;
}
.nav-icon {
  
  border-image-source: url('../../public/fast_imgs/border.png');
  border-image-width: 6svh ;
}
