  /* PHONE */
@media all and (max-device-width:767px) {
#name{
    font-size: 1.9em;
}
  .sc p{
font-size: 0.65em;

  }

.sc img {
  height: 42svh; 
  margin :0 auto;
  left: auto;

  /* it centers any block level element */
}
.sc video {
   height: 42svh;
  width: 0 auto;
  left : auto;
  /* it centers any block level element */
}

}
.projects img,video{
   border-radius: calc(400 / 2)em;
   border: 0.45dvh solid #0BA ; 
}
.accredidations img,video{
   border-radius: calc(400 / 2)em;
   border: 0.45dvh solid #0BA ; 

}
.resume img,video{
   border-radius: calc(400 / 2)em;
   border: 0.45dvh solid #0BA ; 

}

@media not all and (max-device-width:767px){
#name{
    font-size: 2.5em;
}
.sc p{

font-size: 1.2em;


  }
.sc img {
  height: 60svh;
  margin :0 auto;
  left: auto;

  /* it centers any block level element */
}
.sc video {
  height: 60svh;
  width: 0 auto;
  margin :0 auto;
  left: auto;

  /* it centers any block level element */
}

}
