 /* PHONE styles */
@media all and (max-device-width: 767px) {
  #name {
    font-size: 1.9em;
  }
  .sc p {
    font-size: 0.60em;
  }
  .sc img,
  .sc video {
    height: 42vh;
    margin: 0 auto;

    left: auto;
        max-width: 48svh;
border-radius: calc(400 / 2)em;
   border: 0.26dvh solid #0BA ; 
  }
}

/* Default styles */
@media not all and (max-device-width: 767px) {
  #name {
    font-size: 2.5em;
  }
  .sc p {
    font-size: 1.2em;
  }
  .sc img,
  .sc video {
    height: 55vh;
    margin: 0 auto;
    max-width: 60svh;
    border-radius: calc(400 / 2)em;
   border: 0.26dvh solid #0BA ; 
    }
}
.projects img,video{
   border-radius: calc(400 / 2)em;
   border: 0.26dvh solid #0BA ; 
}
.accredidations img,video{
   border-radius: calc(400 / 2)em;
   border: 0.26dvh solid #0BA ; 

}
.resume img{
   border-radius: calc(400 / 2)em;
   border: 0.26dvh solid #0BA ; 
 height: 60svh;
    margin: 0 auto;
}

