  /* PHONE */
@media all and (max-device-width:767px) {
#name{
    font-size: 1.9em;
}
  .sc p{
font-size: 0.65em;



  }

.sc img {
  height: 42svh; 
  margin :0 auto;
  left: auto;

  /* it centers any block level element */
}

}

@media not all and (max-device-width:767px){
#name{
    font-size: 2.5em;
}
.sc p{

font-size: 1.2em;


  }
.sc img {
  height: 60svh;
  margin :0 auto;
  left: auto;

  /* it centers any block level element */
}
}
