 .projdesc{
  color: white;
  font-size: 1.9em;
  font-family: "Verdana"; 
 }
 .referral{
   color:hotpink
 }
.icon{
padding-top:10px;
height : 5vh;
width : auto;
}

.format-img{

   height: calc(45vh - 100px);    
}
