 .projdesc{
  padding-top: 1.7em;
  color: white;
  font-size: 1.155em;
text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-weight:1.5em;
  
 }
 .referral{
   color:hotpink
 }
.icon{
padding-top:10px;
height : 5vh;
width : auto;
}

.format-img{

   height: calc(45vh - 100px);    
}
