/* About section container */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

/* Slider container */
.about-container .slider {
  position: relative;
  max-width: 80svh; /* Ensures a square-like scaling */
  height: 50svh;
  overflow: hidden;
   




}

/* Slider inner wrapper for slides */
.about-container .slider-inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;

}

/* Each slide item */
.about-container .slider-item {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
/* Images and videos styling */
.about-container img,
.about-container  video {

  max-width: 60svw;
  max-height: 55svh;
  object-fit: contain;

      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
 border-radius: 1svw;

  border: 2px solid navy;

}

/* Navigation arrows */
.about-container .slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.about-container .slider-arrow.left {
  left: 1rem;
}

.about-container .slider-arrow.right {
  right: 1rem;
}

/* Description section (now below the slider) */
.about-container .slider-desc {
  margin-top: 1.0vh;
  max-width: 53svw;

  text-align: center;
  font-size: 1.2vw;
  font-family: sans-serif;
}
