 /* PHONE styles */
 @media all and (max-device-width: 767px) {
   #name {
     font-size: 1.9em;
   }

   .sc p {
     font-size: 0.60em;
   }

   .aboutSlider img,
   video {
     height: 43svh;
     margin: 0 auto;
     max-width: 72vw;
     max-height: 63vh;
     border-radius: 20%;
     border-width: 2vw;

   }

 }

 /* Default styles */
 @media not all and (max-device-width: 767px) {
   #name {
     font-size: 2.4em;
   }

   .sc p {
     font-size: 1.25em;
   }

   .aboutSlider img,
   video {
     height: 44vh;
     margin: 0 auto;
     max-width: 72vw;
     max-height: 63vh;
     border-radius: 10%;
     border-width: 2vw;

   }

 }