.spinner-container {
display: block;
    margin-left: auto;
    margin-right: auto;
 width: 120px;
 height: 120px;
 position: relative;
 margin: 15px auto;
 overflow: hidden;
}

.spinner {

 position: absolute;
 width: calc(100% - 9.9px);
 height: calc(100% - 9.9px);
 border: 5px solid transparent;
 border-radius: 50%;
 border-top-color: #fff;
 animation: spin 3s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
}

@keyframes spin {
 from {
   transform: rotate(0deg);
 }

 to {
   transform: rotate(360deg);
 }
}
