.text-sphere {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.tagCloud {
  display: inline-block;
  top: 0;
  left: 0;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 4em; /* Changed from '4.0em' to '4em' for simplicity */
}

.tagCloud--item {
  text-transform: uppercase;
}

.tagCloud--item:hover {
  color: hotpink;
}

.subtext {
  color: gold;
}

.intro {
  color: white;
  font-size: 1.05em;
  padding-top: 0.40em;
  text-shadow: #FC0 2px 2 2px; /* Adjusted text-shadow for better readability */
}

