* {
  box-sizing: border-box;
}
.analogCircuits{
  display: grid;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}
html {
  font-size: calc(1rem + 0.25vw);
  touch-action: manipulation;
}
  #name {
     font-size: 1.9em;
   }

.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 340;
  color: white;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
background: linear-gradient(to bottom,
    #4a00e0 0%,
    #cc5333 calc(100% - (2px / 100%) * 100%)
  );
  }




.introGlow h2{
    color: #FAF9F6; /* Slightly off-white for a softer look */
  font-size: 1rem; /* Slightly larger font for readability */
  text-align: center; /* Center-align text */
  font-family: 'Open Sans'; /* Clean, professional font */
  font-weight: 500;
    line-height: 3.5;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
@media (max-width: 768px) {
  .introText {
    max-width: 100svw; /* Increase max width for mobile */
  }
}
.animateLand {
  animation: fadeSide 1.1s ease-in-out forwards;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.projDesc {
  border-radius: 2svw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 70svw; /* Adjusted for responsiveness */
  padding: 10px;
}

.letters{
max-width:65svw; 
}

.projDesc .fadeSide {
  background-color: rgba(210, 180, 140, 0.3); /* Slightly tan with enhanced opacity */
  padding: 15px; /* Add more padding for elegance */
  border-radius: 12px; /* Softer rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Enhanced drop shadow for depth */
  margin-bottom: 10px; /* Space between elements */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Subtle white border */
  backdrop-filter: blur(6px); /* Adds a glassy effect */
}

.projDesc .fadeSide p {
  color: #FAF9F6; /* Slightly off-white for a softer look */
  font-size: 0.95rem; /* Slightly larger font for readability */
  line-height: 1.2; /* Improved line spacing for readability */
  text-align: center; /* Center-align text */
  font-family: 'Arial', sans-serif; /* Clean, professional font */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Subtle text shadow for better contrast */
}

.nerdGif {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: inset;
}


.nerdGif img {
  height: 15svh !important;
}

.lorentz {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing {
  width: 0;
  transition: width 0.5s ease-out;
  /* Adjust duration and easing function as needed */
}

.animated-div.animate {
  width: 100%;
}

/* PHONE */
.App-link {
  color: #61dafb;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.landImage img {
  max-width: 70vw;
}

.aboutImg {
  display: flex;
     border-radius: 10px;
    overflow: hidden;
  justify-content: center;
  align-items: center;
}

.aboutImg img{
  max-height: 50vh;
  max-width: 60vw;
border-radius: 10px;
border: 3px solid teal;
  box-shadow: inset;

}
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sine-3d-visualizer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualizer {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: fadeIn 0.6s ease-in-out forwards;
}


.resumePage {
  margin: auto;
  text-align: center;
  display: grid;

  justify-content: center;
  /* Center horizontally */
  align-items: center;

  max-width: 79svw;

}


.landImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: fit-content;
  margin: auto;
  height: auto;
}



@keyframes fadeSide {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeSide {

  animation: fadeSide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;

}

.feedback {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: fadeIn 0.6s ease-in-out forwards;
}

.resumePage {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: fadeIn 0.6s ease-in-out forwards;
}

.ul,
.li,
.ol {
  list-style-type: none;

}
