* {
  box-sizing: border-box;
}

html {
  font-size: calc(1rem + 0.5vw);
}

.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 340;
  color: white;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: hsla(207, 0%, 0%, 1);
  background-image:
    radial-gradient(circle at 10% 20%, #FFD700, transparent 50%),
    radial-gradient(circle at 90% 80%, #FF69B4, transparent 50%),
    radial-gradient(circle at 50% 50%, #87CEFA, transparent 50%),
    radial-gradient(circle at 20% 80%, #32CD32, transparent 50%),
    radial-gradient(circle at 80% 10%, #BA55D3, transparent 50%);
  animation: gradientAnimation 15s ease infinite;
  /* Animation for smooth transition */

  /*; */

}

.animateLand {
  animation: fadeSide 1.3s ease-in-out forwards;

}

@keyframes gradientAnimation {

  0%,
  100% {
    background-position: 0% 50%, 100% 50%, 50% 50%, 20% 80%, 80% 10%;
  }

  25% {
    background-position: 50% 100%, 0% 50%, 100% 50%, 40% 60%, 60% 20%;
  }

  50% {
    background-position: 100% 0%, 50% 100%, 0% 50%, 60% 40%, 40% 80%;
  }

  75% {
    background-position: 50% 0%, 100% 50%, 50% 100%, 80% 20%, 20% 60%;
  }
}

.projDesc {
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  max-width: 54%;
}


.nerdGif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nerdGif img {



  height: 14svh !important;
}

.landing {
  width: 0;
  transition: width 0.5s ease-out;
  /* Adjust duration and easing function as needed */
}

.animated-div.animate {
  width: 100%;
}

/* PHONE */
.App-link {
  color: #61dafb;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sine-3d-visualizer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualizer {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: fadeIn 0.6s ease-in-out forwards;
}




.aboutSlider {}

.landImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: -moz-fit-content;
  max-width: fit-content;

  margin: auto;
  height: auto;
}

@media (max-width: 650px) {
  .projDesc {
    max-width: 80%;
  }

  .landImage img {
    max-width: 100%;
    flex-direction: column;
  }
}

@keyframes fadeSide {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeSide {

  animation: fadeSide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;

}

.feedback {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: fadeIn 0.6s ease-in-out forwards;
}

.resumePage {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: fadeIn 0.6s ease-in-out forwards;
}

.ul,
.li,
.ol {
  list-style-type: none;

}