.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 340;
  font-size: larger;
  height: 100vh; /* Changed from '100svh' to '100vh' for correct viewport height */
  overflow-x: hidden;
  overflow-y: auto;
  background-color: darkolivegreen;

}
special {
  font-family: "special";
  font-size: large;
  color: white;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: darkolivegreen;
  display: inline;
  width: auto;
  height: auto;
  overflow: auto;
}