body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#rotate-180 {
  transform: rotate(90deg);
/* Optional, ensures the image behaves normally in the layout */
margin-top: 4svh;
margin-bottom: 5svh;
}